<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.7.0-develop00385" targetFramework="net471" />
  <package id="ExcelDataReader.DataSet" version="3.7.0-develop00385" targetFramework="net471" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net471" />
</packages>